{% extends "layout.html" %}
{% block body %}
  <!-- Navigation guide -->
  / <a href="/airlines">Airlines</a>

  <p class="lead">US Domestic Airlines</p>
  <ul class="nav nav-pills">
    {% for airline in airlines -%}
    <li class="button">
      <a href="/airlines/{{airline.Carrier}}">{{airline.Carrier}}</a>
    </li>
    {% endfor -%}
  </ul>
  <div> <a href="/airplanes">Airplanes </a></div>
  <div> <a href="/airlines">Airlines </a></div>
  <div> <a href="/flights/search">Flights </a></div>
  <div> <a href="/total_flights">Total Flights </a></div>
  <div> <a href="/total_flights.json">Total Flights json</a></div>
  <div> <a href="/total_flights_chart">Total Flights chart </a></div>
{% endblock %}

