
<footer class="main-footer">
        <div class="footer_top">
               <div class="footer_widget">
            	<div class="footer_logo">
                        <a href="#">
                            <img src="/static/assets/img/uclm.jpg" alt="" height=60 width=80>
                        </a>

                    </div>
		<br>
                    <p> Trabajo realizado para el Máster Universitario de Ingeniería Informática <br>
			Universidad de Castilla-La Mancha <br>
			Albacete <br>
                        <a href="#">+34 640 25 09 90</a> <br>
                        <a href="#">rafamg96@gmail.com</a>
                    </p>

            </div>
        </div>
        
    </footer>

